//Colors
$color-white: #fff;
$color-black: #000;

$color-grey: #e6e6e6;
$color-midgrey: #8E8E8E;
$color-darkgrey: #666666;
$color-almostblack: #333333;

$color-orange: #f1592a;


//Grid
$grid-width: 980px;
$gutter-vertical: 50px;
$gutter-vertical-small: 25px;
$gutter-horizontal: 20px;
$gutter-horizontal-medium: 15px;
$gutter-horizontal-small: 12px;